@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.uvod > p {
  font-size: 1.2rem;
  padding-bottom: 20px;
  max-width: 75%;
}

body {
    background-color: #ffefef;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    text-align: center;
}

.container {
    background-color: #ffefef;
    flex-wrap: wrap;
    justify-content: center;

}

.nase-nabidka {
  padding: 50px;
  background-color: white;
  margin: 0 200px 0 200px;
  
}

img {
  width: 300px;
}

.flexed-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-basis: 20px;
    flex-wrap: wrap;
}

#logo {
  margin: 50px;
  font-size: 1.5rem;
}

#logo img {
  width: 400px;
}

.grid-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

footer {
  margin: 20px;
  text-align: center;
}